.header{
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
}
.color{
    background-color:  linear-gradient(to top right, black);
    width: 100%;
    height: 100%;
    opacity: 100%;
}
body{
    color: white;
    
}

.logo{
    color: black;
}







