.header{
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
}
.p{
    background-color:  linear-gradient(to top right, black);
    width: 100%;
    height: 100%;
    opacity: 100%;
}
body{
    color: white;
    
}
.logo {
    justify-content: center;
    color: black;
    text-align: center;
}


.input div{
    background-color: black;
    border: 5px solid black;
    padding: auto;
    gap: 2rem;
    
}
.head{
   padding-top: 10px;
   padding-bottom: 5px;
}

.flex{
    display: flex;
    border: 2px solid red;
    gap: 3rem;
}






